<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37332990351-dn4h16e2cid8bps15005eeghtm5cq3bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37332990351-dn4h16e2cid8bps15005eeghtm5cq3bl</string>
	<key>API_KEY</key>
	<string>AIzaSyBdMFfZTSg93PVuA5EjoEkRC25i3yPE6Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>37332990351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-969d2</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-969d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37332990351:ios:729a5f941a5d906681b3fa</string>
</dict>
</plist>